/*************************************************
			Reset
*************************************************/
html, body, div, h1, h2, h3, h4, h5, h6, form, label,
legend, caption, aside, details, figcaption, figure, footer,header,
menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: 16px;
    font-style: inherit;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    text-decoration: none;
}
html, body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/****************************
 *          LOGIN           *
 ***************************/
.overlay{
    position: fixed;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    
}
.overlay>.container{
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
}
.overlay>*, .overlay>.container>*{
    align-self:center;
}
.overlay>.container>*{
    width: 400px;
}
#formLogin{
    margin-top: 20px;
}
#formLogin .inputForm{
    background-color: #ffffff;
}
#formLogin input{
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#formLogin input[type='submit']{
    background-color: #FFA000;
    color: #ffffff;
    cursor: pointer;
}
#motoSelector {
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    margin:20px 0;
}
#motoSelector > img{
    padding: 10px;
    border:solid 2px transparent;
    cursor: pointer;
}
#motoSelector > img.selected{
    border-bottom:solid 2px #FFA000;
    background-color: rgba(64,59,51,1);
}
#motoSelector > img:hover{
    background-color: rgba(255,255,255,0.8);
}
#formLogin > h1{
    font-weight:300;
    margin-bottom:10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}


/****************************
 *           CHAT           *
 ***************************/

form#chat{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
}
form#chat > .msg-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
}
form#chat > .msg-container > .message{
    padding: 5px;
    margin: 0 30px 5px 0;
    background-color: white;
    box-shadow: 1px 2px 3px darkgrey;
    transition: opacity 300ms, transform 300ms;
    -webkit-animation: fadeInLeft 300ms;
    animation: fadeInLeft 300ms;
}

form#chat > .msg-container > .message.perso{
    margin: 0 0 5px 30px;
    -webkit-animation: fadeInBot 300ms;
    animation: fadeInBot 300ms;
}
@-webkit-keyframes fadeInLeft {
    0%{ opacity:0; -webkit-transform: translateX(-50px); }
    100%{ opacity:1; -webkit-transform: translateX(0); }
}
@keyframes fadeInLeft {
    0%{ opacity:0; transform: translateX(-50px); }
    100%{ opacity:1; transform: translateX(0); }
}
@-webkit-keyframes fadeInBot {
    0%{ opacity:0; -webkit-transform: translateY(50px); }
    100%{ opacity:1; -webkit-transform: translateY(0); }
}
@keyframes fadeInBot {
    0%{ opacity:0; transform: translateY(50px); }
    100%{ opacity:1; transform: translateY(0); }
}

form#chat > .input-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height:50px;
}

form#chat > .input-container > .input-msg{
    height: 100%;
}
form#chat > .input-container > .submit-msg{
    height: 100%;
}

/****************************
 *          CANVAS          *
 ***************************/
#tronCanvas{
    position: absolute;
    background: #353e46;
}

#plateau{
    position: relative;
    margin: 10px auto;
}

/****************************
 *          FLECHES         *
 ***************************/
.fleches{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fleches .hautBas{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
.fleches .droiteGauche{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.fleches img{
    width: 80px;
    height: 80px;
    opacity: 0.5;
}
.fleches #south{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fleches #east{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fleches #west{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

