/*************************************************
			Reset
*************************************************/
html, body, div, h1, h2, h3, h4, h5, h6, form, label,
legend, caption, aside, details, figcaption, figure, footer,header,
menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: 16px;
    font-style: inherit;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    text-decoration: none;
}
html, body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
body{
    background-color: rgba(0, 0, 0, 0.8);
}

/****************************
 *          LOGIN           *
 ***************************/
.overlay{
    position: fixed;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    
}
.overlay>.container{
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
}
.overlay>*, .overlay>.container>*{
    align-self:center;
}
.overlay>.container>*{
    width: 400px;
}
#formLogin{
    margin-top: 20px;
}
#formLogin .inputForm{
    background-color: #ffffff;
}
#formLogin input{
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#formLogin input[type='submit']{
    background-color: #FFA000;
    color: #ffffff;
    cursor: pointer;
}
#motoSelector {
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    margin:20px 0;
}
#motoSelector > img{
    padding: 10px;
    border:solid 2px transparent;
    cursor: pointer;
}
#motoSelector > img.selected{
    border-bottom:solid 2px #FFA000;
    background-color: rgba(64,59,51,1);
}
#motoSelector > img:hover{
    background-color: rgba(255,255,255,0.8);
}
#formLogin > h1{
    font-weight:300;
    margin-bottom:10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}


/****************************
 *           CHAT           *
 ***************************/

form#chat{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
}
form#chat > .msg-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
}
form#chat > .msg-container > .message{
    padding: 5px;
    margin: 0 30px 5px 0;
    /*background-color: white;*/
    /*box-shadow: 1px 2px 3px darkgrey;*/
    border-bottom: 1px solid #03A9F4;
    transition: opacity 300ms, transform 300ms;
    -webkit-animation: fadeInLeft 300ms;
    animation: fadeInLeft 300ms;
    max-width: 155px;
}

form#chat > .msg-container > .msg-server{
    margin: 5px 0;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    width:155px;
    color:#03A9F4;
    -webkit-animation: fadeInTop 300ms;
    animation: fadeInTop 300ms;
}

form#chat > .msg-container > .message > .date{
    font-size: 10px;
    color: #ffffff;
}

form#chat > .msg-container > .message > .message-msg{
    color: #ffffff;
    overflow-wrap: break-word;
}

form#chat > .msg-container > .message.perso{
    margin: 0 0 5px 30px;
    -webkit-animation: fadeInBot 300ms;
    animation: fadeInBot 300ms;
}
@-webkit-keyframes fadeInLeft {
    0%{ opacity:0; -webkit-transform: translateX(-50px); }
    100%{ opacity:1; -webkit-transform: translateX(0); }
}
@keyframes fadeInLeft {
    0%{ opacity:0; transform: translateX(-50px); }
    100%{ opacity:1; transform: translateX(0); }
}
@-webkit-keyframes fadeInBot {
    0%{ opacity:0; -webkit-transform: translateY(50px); }
    100%{ opacity:1; -webkit-transform: translateY(0); }
}
@keyframes fadeInBot {
    0%{ opacity:0; transform: translateY(50px); }
    100%{ opacity:1; transform: translateY(0); }
}
@-webkit-keyframes fadeInTop {
    0%{ opacity:0; -webkit-transform: translateY(-50px); }
    100%{ opacity:1; -webkit-transform: translateY(0); }
}
@keyframes fadeInTop {
    0%{ opacity:0; transform: translateY(-50px); }
    100%{ opacity:1; transform: translateY(0); }
}

form#chat > .input-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height:50px;
    margin-bottom: 13px;
    width: 177px;
}

form#chat > .input-container > #input-msg{
    border: 1px solid #03A9F4;
    background-color: transparent;
    color: #ffffff;
    padding: 4px;
    width: 147px;
}
form#chat > .input-container > #submit-msg{
    background-color: #03A9F4;
    border: none;
    color: #ffffff;
}

/****************************
 *          CANVAS          *
 ***************************/
#tronCanvas{
    position: absolute;
    background: #1C1D1E;
}

#plateau{
    position: relative;
    margin: 10px auto;
    border: 2px solid #03A9F4;
}

#plateau > div.moto{
    position: absolute;
    top: 0;
    left: 0;
}

#plateau > div.moto > img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.invincible > img {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background: -webkit-linear-gradient(white, rgba(255,255,255,0));*/
    /*background: linear-gradient(white, rgba(255,255,255,0));*/

    -webkit-animation:clignote 300ms infinite;
    animation:clignote 800ms infinite;
}

@-webkit-keyframes clignote {
    0%{ opacity: 1; -webkit-transform: scale(1); }
    50%{ opacity: 1; -webkit-transform: scale(1.25); }
    100%{ opacity: 1; -webkit-transform: scale(1); }
}
@-webkit-keyframes clignote {
    0%{ opacity: 1; transform: scale(1); }
    50%{ opacity: 0.6; transform: scale(1.25); }
    100%{ opacity: 1; transform: scale(1); }
}

/****************************
 *          FLECHES         *
 ***************************/
.fleches{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fleches .hautBas{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
.fleches .droiteGauche{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.fleches img{
    width: 80px;
    height: 80px;
    opacity: 0.5;
}
.fleches #south{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fleches #east{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fleches #west{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/****************************
 *         COMPTEUR         *
 ***************************/
.compteur{
    display: block;
    z-index: 10;
    position: absolute;
    pointer-events: none;
    top:50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.compteur > svg > circle{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 1s linear;
    -moz-transition: stroke-dashoffset 1s linear;
    -ms-transition: stroke-dashoffset 1s linear;
    -o-transition: stroke-dashoffset 1s linear;
    transition: stroke-dashoffset 1s linear;
}
.compteur > .value{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    text-align: center;
    font-family: Arial, sans-serif;
}
